.form_holder {
    position: relative;
    padding: 45px 15px 15px;
    /* border-color: #646060; */
    /* border: 1px solid #acb3c9; */
    background-color: #e0e4f1;
    margin: 5% auto 5% auto;
    width: 70%;
}


@media only screen and (max-width: 850px) {
    .form_holder {
        width: 95%;
    }
}